In [1]:
import pandas as pd
import numpy as np
import os,re,time
from collections import Counter

In [2]:
data = pd.read_csv('applications.csv')

In [3]:
data.head()

,record,date,ssn,firstname,lastname,address,zip5,dob,homephone,fraud
0,1,1/1/16,509998359,XRAAAXUAM,SMTAAXRS,4168 XEMMZ PL 19304,19304,11/3/30,6387900398,1
1,2,1/1/16,615509747,SSXTUJSJM,UTUREERX,8409 ASUZ ST 03563,3563,4/10/21,1069037699,0
2,3,1/1/16,532801671,SZMMUJEZS,EZJEAZ,9782 UMSME LN 42178,42178,9/11/13,8719510343,1
3,4,1/1/16,302334738,EAZSRMZXZ,SMSMJMMT,2687 XRXAX DR 34631,34631,6/26/07,6314026324,1
4,5,1/1/16,737610282,SMRAUMMMZ,MEAXJUX,4775 ETRXZ BLVD 88175,88175,6/26/07,9105580920,0

In [4]:
#data['date'] = pd.to_datetime(data['date'])
data = data.iloc[:,1:]

In [5]:
data.head(10)

,date,ssn,firstname,lastname,address,zip5,dob,homephone,fraud
0,1/1/16,509998359,XRAAAXUAM,SMTAAXRS,4168 XEMMZ PL 19304,19304,11/3/30,6387900398,1
1,1/1/16,615509747,SSXTUJSJM,UTUREERX,8409 ASUZ ST 03563,3563,4/10/21,1069037699,0
2,1/1/16,532801671,SZMMUJEZS,EZJEAZ,9782 UMSME LN 42178,42178,9/11/13,8719510343,1
3,1/1/16,302334738,EAZSRMZXZ,SMSMJMMT,2687 XRXAX DR 34631,34631,6/26/07,6314026324,1
4,1/1/16,737610282,SMRAUMMMZ,MEAXJUX,4775 ETRXZ BLVD 88175,88175,6/26/07,9105580920,0
5,1/1/16,915986896,SUXEEAZJX,SZEJSXZU,2713 UJZJ ST 09310,9310,5/16/23,9177343015,1
6,1/1/16,896738279,XSJZEXRZJ,TATMSSJ,8261 TSSJ CT 83503,83503,11/19/72,649792058,1
7,1/1/16,601993774,XJZAUEZTX,USSMTRX,3535 RMSJU RD 95839,95839,10/17/95,480945554,0
8,1/1/16,131340674,TZERZRXZ,USZMSMEZ,3307 SUZXR ST 04362,4362,3/14/15,350169510,0
9,1/1/16,888484341,EAXRRUMUX,RAUZRMEA,508 UMJXM BLVD 67490,67490,6/28/86,1557783849,0

In [6]:
data.dtypes

date         object
ssn           int64
firstname    object
lastname     object
address      object
zip5          int64
dob          object
homephone     int64
fraud         int64
dtype: object

In [7]:
data.shape

(94866, 9)

### here for the convenience of combining diffirent variables, and for these seemingly numric variables are actually categorical, we turn them all into strings

In [8]:
data['ssn'] = data['ssn'].astype('str')
data['zip5'] = data['zip5'].astype('str')
data['homephone'] = data['homephone'].astype('str')

### creating variables as the combinations of variables

In [9]:
#type 2
data['firstname_lastname'] = data['firstname']+'_'+data['lastname']
data['homephone_address'] = data['homephone']+'_'+data['address']
data['homephone_zip5'] = data['homephone']+'_'+data['zip5']
data['address_zip5'] = data['address']+'_'+data['zip5']
data['ssn_address'] = data['ssn']+'_'+data['address']
data['ssn_dob'] = data['ssn']+'_'+data['dob']
data['ssn_zip5'] = data['ssn']+'_'+data['zip5']
data['ssn_homephone'] = data['ssn']+'_'+data['homephone']

In [10]:
#type3
data['firstname_lastname_dob'] = data['firstname']+'_'+data['lastname']+'_'+data['dob']
data['firstname_lastname_ssn'] = data['firstname']+'_'+data['lastname']+'_'+data['ssn']
data['firstname_lastname_homephone'] = data['firstname']+'_'+data['lastname']+'_'+data['homephone']
data['firstname_lastname_address'] = data['firstname']+'_'+data['lastname']+'_'+data['address']
data['firstname_lastname_zip5'] = data['firstname']+'_'+data['lastname']+'_'+data['zip5']
data['address_zip5_homephone'] = data['address']+'_'+data['zip5']+'_'+data['homephone']

In [11]:
#type4
data['firstname_lastname_ssn_dob'] = data['firstname']+'_'+data['lastname']+'_'+data['ssn']+'_'+data['dob']

### for the convenience of future computing, let's save all possible dates as an array, and create an numeric index corresponding to it

In [12]:
dates = data['date'].unique()

In [13]:
len(dates)

365

In [14]:
data['date_index'] = data['date'].apply(lambda x: int(np.where(dates==x)[0]))

no particular reason to use a subset... I was just experimenting...

In [15]:
#subset = data.iloc[90000:,:]
subset = data

In [16]:
subset.head(5).T

,0,1,2,3,4
date,1/1/16,1/1/16,1/1/16,1/1/16,1/1/16
ssn,509998359,615509747,532801671,302334738,737610282
firstname,XRAAAXUAM,SSXTUJSJM,SZMMUJEZS,EAZSRMZXZ,SMRAUMMMZ
lastname,SMTAAXRS,UTUREERX,EZJEAZ,SMSMJMMT,MEAXJUX
address,4168 XEMMZ PL 19304,8409 ASUZ ST 03563,9782 UMSME LN 42178,2687 XRXAX DR 34631,4775 ETRXZ BLVD 88175
zip5,19304,3563,42178,34631,88175
dob,11/3/30,4/10/21,9/11/13,6/26/07,6/26/07
homephone,6387900398,1069037699,8719510343,6314026324,9105580920
fraud,1,0,1,1,0
firstname_lastname,XRAAAXUAM_SMTAAXRS,SSXTUJSJM_UTUREERX,SZMMUJEZS_EZJEAZ,EAZSRMZXZ_SMSMJMMT,SMRAUMMMZ_MEAXJUX
homephone_address,6387900398_4168 XEMMZ PL 19304,1069037699_8409 ASUZ ST 03563,8719510343_9782 UMSME LN 42178,6314026324_2687 XRXAX DR 34631,9105580920_4775 ETRXZ BLVD 88175
homephone_zip5,6387900398_19304,1069037699_3563,8719510343_42178,6314026324_34631,9105580920_88175
address_zip5,4168 XEMMZ PL 19304_19304,8409 ASUZ ST 03563_3563,9782 UMSME LN 42178_42178,2687 XRXAX DR 34631_34631,4775 ETRXZ BLVD 88175_88175
ssn_address,509998359_4168 XEMMZ PL 19304,615509747_8409 ASUZ ST 03563,532801671_9782 UMSME LN 42178,302334738_2687 XRXAX DR 34631,737610282_4775 ETRXZ BLVD 88175
ssn_dob,509998359_11/3/30,615509747_4/10/21,532801671_9/11/13,302334738_6/26/07,737610282_6/26/07
ssn_zip5,509998359_19304,615509747_3563,532801671_42178,302334738_34631,737610282_88175
ssn_homephone,509998359_6387900398,615509747_1069037699,532801671_8719510343,302334738_6314026324,737610282_9105580920
firstname_lastname_dob,XRAAAXUAM_SMTAAXRS_11/3/30,SSXTUJSJM_UTUREERX_4/10/21,SZMMUJEZS_EZJEAZ_9/11/13,EAZSRMZXZ_SMSMJMMT_6/26/07,SMRAUMMMZ_MEAXJUX_6/26/07
firstname_lastname_ssn,XRAAAXUAM_SMTAAXRS_509998359,SSXTUJSJM_UTUREERX_615509747,SZMMUJEZS_EZJEAZ_532801671,EAZSRMZXZ_SMSMJMMT_302334738,SMRAUMMMZ_MEAXJUX_737610282
firstname_lastname_homephone,XRAAAXUAM_SMTAAXRS_6387900398,SSXTUJSJM_UTUREERX_1069037699,SZMMUJEZS_EZJEAZ_8719510343,EAZSRMZXZ_SMSMJMMT_6314026324,SMRAUMMMZ_MEAXJUX_9105580920
firstname_lastname_address,XRAAAXUAM_SMTAAXRS_4168 XEMMZ PL 19304,SSXTUJSJM_UTUREERX_8409 ASUZ ST 03563,SZMMUJEZS_EZJEAZ_9782 UMSME LN 42178,EAZSRMZXZ_SMSMJMMT_2687 XRXAX DR 34631,SMRAUMMMZ_MEAXJUX_4775 ETRXZ BLVD 88175
firstname_lastname_zip5,XRAAAXUAM_SMTAAXRS_19304,SSXTUJSJM_UTUREERX_3563,SZMMUJEZS_EZJEAZ_42178,EAZSRMZXZ_SMSMJMMT_34631,SMRAUMMMZ_MEAXJUX_88175
address_zip5_homephone,4168 XEMMZ PL 19304_19304_6387900398,8409 ASUZ ST 03563_3563_1069037699,9782 UMSME LN 42178_42178_8719510343,2687 XRXAX DR 34631_34631_6314026324,4775 ETRXZ BLVD 88175_88175_9105580920
firstname_lastname_ssn_dob,XRAAAXUAM_SMTAAXRS_509998359_11/3/30,SSXTUJSJM_UTUREERX_615509747_4/10/21,SZMMUJEZS_EZJEAZ_532801671_9/11/13,EAZSRMZXZ_SMSMJMMT_302334738_6/26/07,SMRAUMMMZ_MEAXJUX_737610282_6/26/07
date_index,0,0,0,0,0

In [17]:
subset.shape

(94866, 25)

Now we have list of raw features, we can try to count them

In [18]:
features = ['ssn','zip5','dob','address','homephone','firstname_lastname',
           'homephone_address','homephone_zip5','address_zip5',
           'ssn_address','ssn_dob','ssn_zip5','ssn_homephone',
           'firstname_lastname_dob','firstname_lastname_ssn',
           'firstname_lastname_homephone','firstname_lastname_address',
           'firstname_lastname_zip5','address_zip5_homephone',
           'firstname_lastname_ssn_dob']

In [19]:
len(features)

20

## this is a sample trial

### for the convenience of checking the result, we use `date` to demonstrate the performance

In [185]:
dic = {}
for lag in [3]:
    start = time.time()  
    for i in range(len(dates)):      
        if i == 0:   
            for f in ['date']:    
                present = subset.query('date_index== @i')[f]
                temp_counter = Counter()
                temp_count = np.array([])
                for p in present:
                    temp_counter.update([p])
                    temp_count = np.append(temp_count,temp_counter[p])
                dic[f+'_'+str(lag)] = np.array([]) #here we intialize the dictionary
                dic[f+'_'+str(lag)] = np.hstack((dic[f+'_'+str(lag)],temp_count))
        elif 1 <= i <= lag-2:
            temp = subset.query('date_index <= @i-1')
            for f in ['date']:        
                present = subset.query('date_index== @i')[f]
                temp_counter = Counter(temp[f])
                temp_count = np.array([])
                for p in present:
                    temp_counter.update([p])
                    temp_count = np.append(temp_count,temp_counter[p])
                dic[f+'_'+str(lag)] = np.hstack((dic[f+'_'+str(lag)],temp_count))
        else:
            temp = subset.query('@i-@lag+1 <= date_index <= @i-1') 
            for f in ['date']:        
                present = subset.query('date_index== @i')[f]
                temp_counter = Counter(temp[f])
                temp_count = np.array([])
                for p in present:
                    temp_counter.update([p])
                    temp_count = np.append(temp_count,temp_counter[p])
                dic[f+'_'+str(lag)] = np.hstack((dic[f+'_'+str(lag)],temp_count))

    end = time.time()
    print('lag{}, time elapsed: {}'.format(str(lag),str(end-start)))

lag3, time elapsed: 3.626626968383789

In [186]:
dic.keys()

dict_keys(['date_3'])

In [187]:
output_3 = pd.DataFrame(np.array([dic[f+'_3'] for f in ['date']]).T,columns=[f+'_3' for f in ['date']])

In [188]:
output_3.shape

(94866, 1)

### To check if we count the future, we take a look at how records are counted

In [200]:
pd.concat([subset['date'],output_3['date_3']],axis=1).head()

     date  date_3
0  1/1/16     1.0
1  1/1/16     2.0
2  1/1/16     3.0
3  1/1/16     4.0
4  1/1/16     5.0

In [204]:
pd.concat([subset['date'],output_3['date_3']],axis=1).iloc[211:222]

       date  date_3
211  1/1/16   212.0
212  1/1/16   213.0
213  1/1/16   214.0
214  1/1/16   215.0
215  1/1/16   216.0
216  1/1/16   217.0
217  1/2/16     1.0
218  1/2/16     2.0
219  1/2/16     3.0
220  1/2/16     4.0
221  1/2/16     5.0

### As shown above, we do not count the future. Counts are made on a streaming in base.

## Now we know the trial works, we can scale it up

In [207]:
features = ['ssn','zip5','dob','address','homephone','firstname_lastname',
           'homephone_address','homephone_zip5','address_zip5',
           'ssn_address','ssn_dob','ssn_zip5','ssn_homephone',
           'firstname_lastname_dob','firstname_lastname_ssn',
           'firstname_lastname_homephone','firstname_lastname_address',
           'firstname_lastname_zip5','address_zip5_homephone',
            'firstname_lastname_ssn_dob']

In [208]:
lag_list = [1,3,7,15,30]

In [209]:
dic = {}
for lag in lag_list:
    start = time.time()  
    for i in range(len(dates)):      
        if i == 0:   
            for f in features:    
                present = subset.query('date_index== @i')[f]
                temp_counter = Counter()
                temp_count = np.array([])
                for p in present:
                    temp_counter.update([p])
                    temp_count = np.append(temp_count,temp_counter[p])
                dic[f+'_'+str(lag)] = np.array([]) #here we intialize the dictionary
                dic[f+'_'+str(lag)] = np.hstack((dic[f+'_'+str(lag)],temp_count))
        elif 1 <= i <= lag-2:
            temp = subset.query('date_index <= @i-1')
            for f in features:        
                present = subset.query('date_index== @i')[f]
                temp_counter = Counter(temp[f])
                temp_count = np.array([])
                for p in present:
                    temp_counter.update([p])
                    temp_count = np.append(temp_count,temp_counter[p])
                dic[f+'_'+str(lag)] = np.hstack((dic[f+'_'+str(lag)],temp_count))
        else:
            temp = subset.query('@i-@lag+1 <= date_index <= @i-1') 
            for f in features:        
                present = subset.query('date_index== @i')[f]
                temp_counter = Counter(temp[f])
                temp_count = np.array([])
                for p in present:
                    temp_counter.update([p])
                    temp_count = np.append(temp_count,temp_counter[p])
                dic[f+'_'+str(lag)] = np.hstack((dic[f+'_'+str(lag)],temp_count))

    end = time.time()
    print('lag{}, time elapsed: {}'.format(str(lag),str(end-start)))

lag1, time elapsed: 55.90826392173767
lag3, time elapsed: 59.08434271812439
lag7, time elapsed: 49.22360920906067
lag15, time elapsed: 53.87247586250305
lag30, time elapsed: 55.56540513038635

### so total time elapsed for 100 variables was about 5 minutes on my laptop...

In [210]:
len(dic.keys())

100

In [211]:
output = pd.DataFrame(np.array([dic[f+'_'+str(l)] for f in features for l in lag_list]).T,
             columns=[f+'_'+str(l) for f in features for l in lag_list])

In [212]:
output.shape

(94866, 100)

In [213]:
output.describe().T

,count,mean,std,min,25%,50%,75%,max
ssn_1,94866.0,1.036736,0.339699,1.0,1.0,1.0,1.0,10.0
ssn_3,94866.0,1.165085,1.300915,1.0,1.0,1.0,1.0,22.0
ssn_7,94866.0,1.419908,3.263853,1.0,1.0,1.0,1.0,41.0
ssn_15,94866.0,1.915976,7.172277,1.0,1.0,1.0,1.0,75.0
ssn_30,94866.0,2.824647,14.448101,1.0,1.0,1.0,1.0,145.0
zip5_1,94866.0,1.021926,0.149434,1.0,1.0,1.0,1.0,4.0
zip5_3,94866.0,1.088188,0.304020,1.0,1.0,1.0,1.0,5.0
zip5_7,94866.0,1.216611,0.492840,1.0,1.0,1.0,1.0,7.0
zip5_15,94866.0,1.469610,0.773316,1.0,1.0,1.0,2.0,8.0
zip5_30,94866.0,1.931113,1.199294,1.0,1.0,2.0,2.0,11.0
dob_1,94866.0,2.914311,5.223768,1.0,1.0,1.0,1.0,48.0
dob_3,94866.0,10.471043,21.471967,1.0,1.0,1.0,1.0,123.0
dob_7,94866.0,25.480741,54.853759,1.0,1.0,1.0,1.0,254.0
dob_15,94866.0,55.006673,121.205264,1.0,1.0,1.0,2.0,484.0
dob_30,94866.0,108.656252,243.444926,1.0,1.0,1.0,2.0,897.0
address_1,94866.0,1.005650,0.075515,1.0,1.0,1.0,1.0,3.0
address_3,94866.0,1.008770,0.095804,1.0,1.0,1.0,1.0,4.0
address_7,94866.0,1.015011,0.130462,1.0,1.0,1.0,1.0,5.0
address_15,94866.0,1.020144,0.160065,1.0,1.0,1.0,1.0,7.0
address_30,94866.0,1.029568,0.218958,1.0,1.0,1.0,1.0,10.0
homephone_1,94866.0,1.413720,1.873702,1.0,1.0,1.0,1.0,24.0
homephone_3,94866.0,2.897487,7.737811,1.0,1.0,1.0,1.0,63.0
homephone_7,94866.0,5.807128,19.696063,1.0,1.0,1.0,1.0,120.0
homephone_15,94866.0,11.514536,43.466164,1.0,1.0,1.0,2.0,236.0
homephone_30,94866.0,21.882497,87.171172,1.0,1.0,1.0,2.0,439.0
firstname_lastname_1,94866.0,1.029979,0.175226,1.0,1.0,1.0,1.0,4.0
firstname_lastname_3,94866.0,1.050471,0.255861,1.0,1.0,1.0,1.0,6.0
firstname_lastname_7,94866.0,1.079628,0.392526,1.0,1.0,1.0,1.0,9.0
firstname_lastname_15,94866.0,1.114941,0.576062,1.0,1.0,1.0,1.0,13.0
firstname_lastname_30,94866.0,1.182204,0.923499,1.0,1.0,1.0,1.0,21.0
...,...,...,...,...,...,...,...,...
firstname_lastname_ssn_1,94866.0,1.005545,0.074681,1.0,1.0,1.0,1.0,3.0
firstname_lastname_ssn_3,94866.0,1.008581,0.094380,1.0,1.0,1.0,1.0,4.0
firstname_lastname_ssn_7,94866.0,1.014547,0.127986,1.0,1.0,1.0,1.0,5.0
firstname_lastname_ssn_15,94866.0,1.019459,0.155981,1.0,1.0,1.0,1.0,7.0
firstname_lastname_ssn_30,94866.0,1.028366,0.210830,1.0,1.0,1.0,1.0,10.0
firstname_lastname_homephone_1,94866.0,1.005713,0.075789,1.0,1.0,1.0,1.0,3.0
firstname_lastname_homephone_3,94866.0,1.008834,0.095798,1.0,1.0,1.0,1.0,4.0
firstname_lastname_homephone_7,94866.0,1.015032,0.130136,1.0,1.0,1.0,1.0,5.0
firstname_lastname_homephone_15,94866.0,1.020155,0.159172,1.0,1.0,1.0,1.0,7.0
firstname_lastname_homephone_30,94866.0,1.029273,0.213933,1.0,1.0,1.0,1.0,10.0
firstname_lastname_address_1,94866.0,1.005502,0.074401,1.0,1.0,1.0,1.0,3.0
firstname_lastname_address_3,94866.0,1.008475,0.093829,1.0,1.0,1.0,1.0,4.0
firstname_lastname_address_7,94866.0,1.014494,0.127868,1.0,1.0,1.0,1.0,5.0
firstname_lastname_address_15,94866.0,1.019417,0.156526,1.0,1.0,1.0,1.0,7.0
firstname_lastname_address_30,94866.0,1.028356,0.211953,1.0,1.0,1.0,1.0,10.0
firstname_lastname_zip5_1,94866.0,1.005566,0.074820,1.0,1.0,1.0,1.0,3.0
firstname_lastname_zip5_3,94866.0,1.008612,0.094544,1.0,1.0,1.0,1.0,4.0
firstname_lastname_zip5_7,94866.0,1.014737,0.129275,1.0,1.0,1.0,1.0,5.0
firstname_lastname_zip5_15,94866.0,1.019786,0.159052,1.0,1.0,1.0,1.0,7.0
firstname_lastname_zip5_30,94866.0,1.028893,0.216336,1.0,1.0,1.0,1.0,10.0
address_zip5_homephone_1,94866.0,1.005492,0.074331,1.0,1.0,1.0,1.0,3.0
address_zip5_homephone_3,94866.0,1.008454,0.093719,1.0,1.0,1.0,1.0,4.0
address_zip5_homephone_7,94866.0,1.014420,0.127505,1.0,1.0,1.0,1.0,5.0
address_zip5_homephone_15,94866.0,1.019269,0.155531,1.0,1.0,1.0,1.0,7.0
address_zip5_homephone_30,94866.0,1.028018,0.209698,1.0,1.0,1.0,1.0,10.0
firstname_lastname_ssn_dob_1,94866.0,1.005492,0.074331,1.0,1.0,1.0,1.0,3.0
firstname_lastname_ssn_dob_3,94866.0,1.008433,0.093608,1.0,1.0,1.0,1.0,4.0
firstname_lastname_ssn_dob_7,94866.0,1.014325,0.127060,1.0,1.0,1.0,1.0,5.0
firstname_lastname_ssn_dob_15,94866.0,1.019153,0.154832,1.0,1.0,1.0,1.0,7.0
firstname_lastname_ssn_dob_30,94866.0,1.027892,0.209161,1.0,1.0,1.0,1.0,10.0

### Again, let's do a small conceptual experiment to check if we count only the past

In [224]:
output['homephone_30'].head()

0    1.0
1    1.0
2    1.0
3    1.0
4    1.0
Name: homephone_30, dtype: float64

In [225]:
output['homephone_30'].max()

439.0

In [218]:
np.where(output['homephone_30']==439)

(array([92218]),)

In [220]:
subset['homephone'].iloc[92218]

'9105580920'

In [222]:
subset[subset['homephone'] == '9105580920'][['date','homephone']].head()

      date   homephone
4   1/1/16  9105580920
12  1/1/16  9105580920
38  1/1/16  9105580920
41  1/1/16  9105580920
61  1/1/16  9105580920

In [223]:
output['homephone_30'].iloc[[4,12,38,41,61]]

4     1.0
12    2.0
38    3.0
41    4.0
61    5.0
Name: homephone_30, dtype: float64

## No problem !

# I haven't taken care of frivolous values, but it should be simple

after we deciding what are frivolous values, we can match them and reset values, doesn't have to be processed in the nested for loops

In [215]:
output.to_csv('output_0.csv')